//
// Display
//


.display-1,
.display-2,
.display-3,
.display-4 {
	span {
		display: block;
		font-weight: $font-weight-light;
	}
}

.mr-1 {
	margin-right: 8px !important
}

.font-bold {
	font-weight: 600 !important;
}

.text-green {
	color: chartreuse !important;
}
